@import url("https://fonts.googleapis.com/css2?family=Inter&family=Sen:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: radial-gradient(#e5e5e5, #e5e5e5);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #232536;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px;
  z-index: 99999;
}

nav {
  flex: 1;
  text-align: right;
  margin-right: 80px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 24px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li .btn {
  background: #fff;
  color: #000;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px 48px;
}

.navbar .logo {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-left: 83px;
}
.navbar .logo a {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 720px;
  background: url(../images/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  left: 81px;
}

.hero h1 {
  position: absolute;
  z-index: 999;
  top: 128px;
  left: 81px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffffff;
  background-repeat: no-repeat;
}

.hero h2 {
  position: absolute;
  z-index: 999;
  width: 803px;
  top: 172px;
  left: 81px;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -2px;
  color: #ffffff;
}
.hero p {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  margin-top: 324px;
  left: 81px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.hero p span {
  color: #ffd050;
}

.hero .by {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  width: 599px;
  height: 56px;
  top: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.hero a {
  position: absolute;
  z-index: 999;
  padding: 16px 48px;
  width: 204px;
  height: 56px;
  left: 81px;
  top: 472px;
  background: #ffd050;
  text-decoration: none;
  color: #232536;
}

.featured-post .container {
  position: absolute;
  height: auto;
  left: 80px;
  right: 78px;
  margin-top: 128px;
}

.featured-post .container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding: 0px;
}
.featured-post .container .row .col-9 {
  width: 733px;
  margin-right: 32px;
}
.featured-post .container .row .col-3 {
  width: 517px;
}

.featured-post .post-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 32px;
  color: #232536;
}

.featured-post .all-post-p {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 16px;
  line-height: 28px;
}

.featured-post .all-post-p a {
  text-decoration: none;
  color: #592ea9;
}

.featured-post .main-post {
  position: relative;
  width: 733px;
  height: 782px;
  box-shadow: 0 0 5px #e5e5e5;
}
.main-post .main-post-img {
  width: 669px;
  height: 352px;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.main-post p,
h3 {
  margin-top: 32px;
  margin-left: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.main-post p span {
  color: #592ea9;
}

.main-post h3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.9px;
  color: #232536;
}
.main-post .main-post-disc p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 32px;
  margin-right: 150px;
  color: #6d6e76d6;
}

.main-post a {
  padding: 16px 48px;
  position: absolute;
  width: 204px;
  height: 56px;
  left: 32px;
  margin-top: 32px;
  background: #ffd050;
  text-decoration: none;
  color: #232536;
}

.post-card {
  margin-top: 64px;
}

.card {
  width: 500px;
  height: 181px;
  margin-top: 8px;
}

.card p {
  margin-left: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.card p span {
  color: #592ea9;
}

.card h3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-right: 115.72px;
  margin-top: 8px;
  color: #232536;
}

.card:hover {
  background-color: #fbf6ea;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1000px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #fff;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.2s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  nav ul li a {
    font-size: 20px;
    color: #000;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .row {
    flex-direction: column;
  }
}
